# ignore temporal files
~* *~
*.pyc

# ignore python virtual environment folder
venv 

# ignore ide setting files
.idea

# ignore developmental sqlite file
*.sqlite3
web_api/db.sqlite3

# ignore modules and build folder
node_modules/
#public/js/
#public/css/

# ignore log
*.log
nohup.out

# ignore tmp files
metastore_db
