.image-main{
    display: flex;
    flex-direction: column;
    
    .gallery-list-view {
        width: 80%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 2.5em 8em 2em 8em;
    }

    .image-paginator {
        background-color: white;
    }
}
