@import "./DocElementList.scss";
@import "./Menu.scss";
@import "./Home.scss";

.app-container {
    margin-top: 51px;
  }

.app-body {
    display: flex;
    justify-content: center;
}

.page-home {
    width: 100%;
}
